footer {
    background-color: #ffaaaa;
    color: black;
    padding: 20px 50px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.links a {
    color: black;
}

.footer-section {
    flex: 1;
    margin: 0 20px;
    min-width: 250px;
}

.footer-section h3 {
    margin-bottom: 15px;
    font-size: 1.4rem;
}

.footer-section p,
.footer-section a {
    font-size: 0.9rem;
    text-decoration: none;
}

.footer-section a:hover {
    color: #ffffff;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section li {
    margin-bottom: 10px;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    font-size: 0.8rem;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-section {
        margin-bottom: 30px;
    }
}